h1 {
  text-align: center;
}

p {
  text-align: center;
}

.parent-element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/*Background color to the navigation */
.topnav {
  background-color: #0077B6;
  overflow: hidden;
}
  
/* Styles the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
/* Changes the color of links on hover */
.topnav a:hover {
  background-color: #916953;
  color: black;
}
  
/* Adds color to the active/current link */
.topnav a.active {
  background-color: #000000;
  color: white;
}

.topnav a.split {
  float: left;
  color: white;
}

footer {
  padding: 5px;
  background-color: #0077B6;
  color: white;
}

 
  